<!DOCTYPE html>
<html>
<title>it's a <i>look</i> quiz</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://lh3.googleusercontent.com/6OKuvy1bujMQKz5JGcYR1mStc1Ab4eoXCKchTlabN9CwsUdzu0Rn134aW_NNdVGxQPb91MQbY1UIdrzamgwvS1LkNNZ8N8G-fr1A7kO4OcxOk1U_Fq6udpde8WVBtwlejrV62x7r0_Oj7wY7CjssLDGQxVVHTy-KRulj8AvboWSaysZrJjkiA_FkjIW_qD_1lMLzbInuiISXdKQr30saPjKGKqmkEe7aXhXiFxgx_K8Ro00TmrHsyAhyDhXVG6bHU8QmbOC1TJKlZKYEz7pIOryNP610ekAB4PLsE6mGkDtexUpP__OgT9Och14bgjo9Qgc2bCOkMMjdfyZ7P0P3RaLVoMR52SrxEyL1-ARPSrIKoncQOtsQleoy8p_C-5Y6ugiKxEGyjUYrqfl6SxElR4ZftsYBPyqs6aLVzLXIAVX396GwVfWS_XL9ohAzdM4AmrcPsu__anei-akBCie4a1nOiar8JQCVMlUcsfNV99fDPGZm7tL2W4si88Kih9itX3kQIUj-Qjfl0XEpuHIwZVQvmhQgqA9YymNaldAgSFJXyFT3JieO_dPuYd9l8BwXoLOoBEN1XFzh89xXnG-ew-AeU9Zs4fTajoIH6tU=s250-k-rw-no');
    min-height: 120%;
}
</style>
<body>
    

<!-- Sidebar with image -->
<nav class="w3-sidebar w3-hide-medium w3-hide-small" style="width:40%">
  <div class="bgimg"></div>
</nav>

<!-- Hidden Sidebar (reveals when clicked on menu icon)-->
<nav class="w3-sidebar w3-black w3-animate-right w3-xxlarge" style="display:none;padding-top:150px;right:0;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="closeNav()" class="w3-button w3-black w3-xxxlarge w3-display-topright" style="padding:0 12px;">
    <i class="fa fa-remove"></i>
  </a>
  <div class="w3-bar-block w3-center">
    <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">Home</a>

  </div>
</nav>

<!-- Page Content -->
<div class="w3-main w3-padding-large" style="margin-left:40%">
 <body>
    <div class="container">
      <h1 class="header">Here's what we reccomend:
      
     <h4>You should wear neutral tones! Your skin will look best with earthy tones. Try nudes blushes and natural eyeshadows such as whites, greys, and browns. Your eye color will really be brought out with a natural sparkley Stear clear of bright pinks and purples as they will overpower your look!</h4>
      
        <img class="img" alt= "centered image" src="https://lh3.googleusercontent.com/lA5Ti1PTZ0lteysXHOz5O1m7E0LOwbL1LfmCRiM-Dsm6gJd0H2GC2tbeGb7GPS3kvcoVEVTqCvoDwVCMUiADsat7L-C_NE1d_Q2dMvUg6R48V6KTmp_p-7xCDQgBTjlZYnA7Ii3TKdvyaSpDoYtespzVcYI__wnsDv46UEyBPWZzV5Hp__4mXiFmToVrQUytpuozvFUE417k0XAVXycuoEURVaGWmuoCsQ-S1tyKxs4CxSDI2_18m5PVdBN5bKJWKEoj7mPJABzF4HNTeMe1clJUAvPP3N7FrAFvj8KyoPvN8Ny2QX3WXyuE1D3UrvqeerKpUJodfaoWIQ_cnVpEhMX-BZlN3cI4D4KAi8Ek7433KC7dinEUN8GGNf_ZmB0wHwhZ9cbGVvxZeR8Od0lG2Ug_8FuWdRrynlP0Cqt3NqBzyarbwC8igqdZolfMzxSpdpyDPtwa9sifJ-hNLD3D4U33_9H9CICK54mrAag4tHH9s1OM1Rdr1gW0cE3JnOSt4K3W9KbVqN2JEsd0EeM1u37_BDe9ODszUfAJpYevepmZ8AnhSPPEXMcIWVmvyclWpmY1uV-wDpwMHo3URDMpB1eHDzDAmED1SphqAg=w1054-h740-no" width="500" height="350"></img> 
        
        <br>
        
        <h4>You should wear your hair half up! Channel your inner Ariana Grande and put half of your hair up into a braid, pony tail, or even a bun. This look allows your features to be the center of attention while also displaying your hair, no matter how long!</h4>
        <img class="img" alt= "centered image" src="https://lh3.googleusercontent.com/bYRjZtSZFtY4fDJkgElK-nJlPKmInqF6BF2gtTSkZD-kgJhsmAy5QbNEGtxvYeV9qORQ0B7Apj8GMkdOYXKDCXKI72uGLbib8_BCUODwezWJmK-rErdGF3Px5v6rYNIZ9VPiISLOSd9F8b1U_gFn8txMivP1xjoHd-0wNVfWv-HdoKYf675OFZzJfcjmQ4388tJuX_OwCTSv8jdVMO87vj4BzwfzTjCZNvkTFP0wEq3ZWfheROPrg4jaLLvTec4z53Oxkn29mZliE6CJep4CGZjl25x5lgZ7swr-29nXJVVnnREQaxGkxJLe4-CqgwwbyE5ZQniqAJLj2DHaQ6fpd8f26xcn2yCwJqiLCoQDPh1kw1fy0UU-cHh8LNMQ7UDz65JtmNQbUC6xSSv1x8elRHb8R_A-hp3r_HJ3W9OvudHF_KOx9rJm6JuVjPmIapJ5wVwQxzKb8dryJrXmlrauXk20o9eTT0ayLaxNJvF3dSCJVXm6aG_wCwEmva1Z0Gbh8ZpdKI8xQwTOvrSl9qkGALMFoLxRY8pgmlExiig8D69kWrwNaqX-debKl788w3zsKOGk5rsmMNpxxo09cVWEW1AuiuXMcAsUBlMRhQ=w1054-h740-no" width="500" height="350"></img>
        
        
        
        </h1>
        

        <!-- <h2> How experienced are you with baking?</h2>
<br> -->

          <!-- <input type="radio" name="skill" value="A" >I'm an expert
        <input type="radio" name="skill" value="B"> I've baked a bit <br>
          <input type="radio" name="skill" value="C">I've never baked anything really
            <br> -->
            <br>
         
      </form>
    </div>
  </div>

 

  <!-- Header -->
  <header class="w3-container w3-center" style="padding:128px 16px" id="home">
    </b>
    <p></p>
 
  </header>

 
    


    
   
   
  </div>  
  
  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin:-24px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
  <!-- End footer -->
  </footer>